body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(52, 52, 52);
    color: red;
}
header{
    text-align: center;
}
nav{
    width: 220px;
    height: 600px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer{
    text-align: center;
}
a:link{
    color: pink;
}